* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  color: #1e266d;
  font-family: Roboto, serif;
}

button {
  outline: none;
  cursor: pointer;
}

.wrapper {
  width: 1600px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: center;
  margin-left: 30px;
  bottom: 2.44%;
}

.header {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__list {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 100px;
}

.menu__list_item {
  display: flex;
  margin-right: 40px;
  justify-content: center;
  font-size: 16px;
  position: relative;
}

.menu__list_item a:hover::before {
  content: "";
  position: absolute;
  top: -25px;
  width: 10px;
  height: 10px;
  left: 35px;
  background-color: #1e266d;
}

.logo {
  margin: 28px 0px 80px 210px;
  display: block;
}

.header__Contact {
  margin-left: 80px;
}

.header__Contact a {
  margin-right: 35px;
}

.header__Contact button {
  font-size: 16px;
  background: #3751ff;
  border-radius: 100px;
  text-align: center;
  border: none;
  padding: 0px 14px 0px 16px;
  height: 40px;
  color: #fff;
}
.header__Contact button:hover{
  box-shadow: 0px 2px 4px rgba(2, 0, 10, 1);
}

.hero {
  background: linear-gradient(
    180deg,
    rgba(242, 249, 255, 0.12) 0%,
    #f2f9ff 100%
  );
  height: 878px;
  left: -174px;
}

.hero__title {
  font-weight: 500;
  font-size: 56px;
  line-height: 105%;
  text-align: center;
  padding-top: 145px;
}

.hero__text {
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  padding-top: 30px;
}

.hero__buttons {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.button2 {
  font-size: 16px;
  background: #3751ff;
  border-radius: 100px;
  text-align: center;
  border: none;
  padding: 0px 14px 0px 16px;
  color: #fff;
  margin-right: 22px;
  height: 50px;
  width: 150px;
}

.button3 {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 100px;
  border: none;
  height: 50px;
  width: 150px;
  font-size: 16px;
}

.button2:hover {
  box-shadow: 0px 2px 4px rgba(2, 0, 10, 1);
}

.button3:hover {
  box-shadow: 0px 2px 4px rgba(2, 0, 10, 1);
}

.hero__grafic {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.section__logos {
  padding-top: 180px;
  text-align: center;
}

.section__logos-text {
  font-size: 16px;
  line-height: 27px;
  color: rgba(69, 88, 128, 0.5);
  padding-bottom: 50px;
}

.section__logos-item a {
  margin-right: 70px;
}

.section__about {
  padding-top: 160px;
  text-align: center;

}

.section__about-title {
  /* position: relative; */
  text-align: center;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
}

.section__about-grafic {
  position: relative;
    width: 1030px;
    height: 1214px;
}

.section__about-grafic-image_4 {
  position: absolute;
  left: 400px;
  top: -120px;
  z-index: 4;
}

.section__about-grafic-rectangle5 {
  z-index: 3;
  position: absolute;
  top: 137px;
  right: 45px;
  bottom: 0;
  left: 415px;
}

.section__about-grafic-rectangle4 {
  z-index: 2;
  position: absolute;
  top: 400px;
  left: 700px;
}

.section__about-grafic-rectangle6 {
  z-index: 7;
  position: absolute;
  left: 250px;
  top: 400px;
}

.section__about-grafic-image_3 {
  z-index: 8;
  position: absolute;
  top: 395px;
  left: 260px;
}

.section__about-grafic-image_2 {
  z-index: 10;
  position: absolute;
  top: 650px;
  left: 685px;
}

.section__about-grafic-rectangle7 {
  position: absolute;
  z-index: 9;
  top: 705px;
  left: 666px;
}

.section__about-grafic-vector {
  position: absolute;
  top: 735px;
  left: 645px;
}

.section__about-grafic-ellipse {
  position: absolute;
  z-index: 10;
  top: 685px;
  left: 413px;
}

.section_about__text {
  position: relative;
}

.icon {
  position: absolute;
  right: 560px;
  top: 135px;
}

.section_about__text__title {
  position: absolute;
  right: 325px;
  top: 135px;
  font-size: 22px;
  line-height: 125%;
  color: #1e266d;
}

.text__text {
  font-size: 18px;
  line-height: 27px;
}

.portfolio{
  width: 1600px;
  height: 1000px;
  background-color: #FFF9EA;
  position: relative;
  display: flex;
  justify-content: center;
  
}

.portfolio__text-title {
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
  color: #1E266D;
  margin-top: 140px;
  text-align: center;
}

.portfolio__text-text{
  font-weight: normal;
  font-size: 21px;
  line-height: 31px;
  color: #455880;
  margin-top: 40px;
  text-align: center;
}

.portfolio__text-button{
  font-size: 16px;
  background: #3751ff;
  border-radius: 100px;
  text-align: center;
  border: none;
  padding: 0px 14px 0px 16px;
  color: #fff;
  height: 50px;
  width: 150px;
  margin-top: 40px;
  position: absolute;
  left: 720px;

}

.portfolio__text-button:hover{
   box-shadow: 0px 2px 4px rgba(2, 0, 10, 1);
}

.portfolio__fotos{
  position: relative;
}
.portfolio__foto1{
  position: absolute;
  top: 425px;
  right: 851px;
}

.portfolio__foto2 {
  position: absolute;
  top: 540px;
  right: 520px;
}

.portfolio__foto3 {
  position: absolute;
  top: 596px;
  right: 185px;
}

.portfolio__foto4 {
  position: absolute;
  top: 656px;
  right: -155px;
}

.portfolio__foto5 {
  position: absolute;
  top: 515px;
  right: -435px; 
}

.portfolio__foto6 {
  position: absolute;
  top: 676px;
  right: 851px;
}

